body {
    margin: 10;
    padding: 10;
     background-color: rgb(119, 50, 3); 
   /* background-image: url('\flatiron\Js and Ror'.jepg);*/
    text-align: center;
  }

  .title-page {
    border: 5px solid black;
    /* color: #f8b63b; */
    color: #fadda8;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    font-weight: normal; 
    text-align: center; 
    /* margin: 50px 50px 50px 50px; */
    font-size: 8em;
    /* padding: 10px; */
    background-color: rgba(39, 11, 61, 0.637);
    text-shadow: 2px 2px #312202;
}

.user-greeting {
    margin: auto;
    margin-top: 10px;
    background-color: rgb(197, 186, 175);
    opacity: 90%;
    width: 60%;
    border: 5px solid black;
    padding: 30px;
    font-size:  1em;
}

.movies-container {
    background-color: rgb(119, 50, 3);
    opacity: 90%;
    width: 60%;
    border: 5px solid black;
    
    font-size:  1em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    margin: auto;
    padding: 20px;
    justify-content: center;
    perspective: 500px;
}

h2 {
    color: rgb(241, 175, 175);
    font-size: 1em;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 50%;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color:rgb(241, 175, 175);
    border: solid rgb(58, 2, 83) ;
    border-radius: 12px;
    color: rgb(57, 2, 88);
    padding: 16px 32px;
    text-decoration: none;
    margin: 15px 2px;
    cursor: pointer;
  }

  #new-user-form {
      
      
      background: rgb(119, 50, 3); 
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 25vh;
      width: 20%;
      
      margin: auto;
      
      overflow: hidden;
      border-radius: 35px;
      font-size: 25px;
      
  } 

  #new-movie-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 20%;
    margin: auto;
    overflow: hidden;
    border-radius: 35px;
    font-size: 25px;

    
  }

  .hidden {
      display: none;
  }